{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Log in{% endblock %}


{% block content %}
<section class="d-flex justify-content-center pt-4 row">
	<div class="col-5">
		<h2 class="text-center display-4">Log in</h2>
		<form class="mb-3" method="post">
			{% csrf_token %}
			<div class="mb-3">
				<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username"
					maxlength="150" class="form-control form-control-sm" placeholder="Username" required
					id="id_username">
			</div>
			<div class="mb-3">
				<input type="password" name="password" autocomplete="current-password" class="form-control"
					placeholder="Password" required id="id_password">
			</div>
			<div class="mbr-section-btn mt-3 d-flex justify-content-center">
				<button id="login-button" class="btn btn-success display-7" type="submit">Login</button>
			</div>
		</form>
		<div class="d-flex flex-column justify-content-center pt-4">
			<a class="btn link-warning" href="{% url 'password_reset' %}">Forgot your password?</a>
			<p class="text-center">or</p>
			<a class="btn link-success" href="{% url 'signup' %}">Already have an account? Register here</a>
		</div>
	</div>
</section>
{% endblock content %}